Repository hashgraph/hedera-forking, pull requests merged in 2025-03, with the labels that each got.

#250 feat: nft metada and creation time token uri moved to metadata slot - optional (#198)
  contracts/HtsSystemContract.sol
  contracts/HtsSystemContractJson.sol
  src/index.js
  src/slotmap.js
  test/getHtsStorageAt.test.js
Labels: feature

#257 feat: solving high severity issue detected by slither (#248)
  .github/workflows/test.yml
  contracts/MirrorNodeFFI.sol
Labels: Audit, github_actions

#251 chore: support for windows os
  README.md
  contracts/Surl.sol
Labels: feature

#259 chore: switch license declarations to spdx
  .lintstagedrc.js
  eslint.config.js
  examples/hardhat-hts/hardhat.config.js
  examples/hardhat-hts/test/create-token.test.js
  examples/hardhat-hts/test/nft-info.test.js
  examples/hardhat-hts/test/nft-ownerof.test.js
  examples/hardhat-hts/test/nft-transfer.test.js
  examples/hardhat-hts/test/nft.test.js
  examples/hardhat-hts/test/usdc-balance.test.js
  examples/hardhat-hts/test/usdc-info.test.js
  examples/hardhat-hts/test/usdc-transfer.test.js
  examples/hardhat-hts/test/usdc.test.js
  package-lock.json
  package.json
  resources/license.js.header
  scripts/abi-table.js
  scripts/create-token.js
  scripts/readme.js
  src/forwarder/index.js
  src/forwarder/json-rpc-forwarder.js
  src/forwarder/mirror-node-client.js
  src/index.d.ts
  src/index.js
  src/plugin/hardhat-addresses.js
  src/plugin/index.d.ts
  src/plugin/index.js
  src/slotmap.js
  src/utils.js
  test/.anvil.js
  test/anvil.test.js
  test/data/index.js
  test/forwarder.test.js
  test/getHIP719Code.test.js
  test/getHtsCode.test.js
  test/getHtsStorageAt.test.js
  test/hts.e2e.js
  test/plugin/.testConfig.js
  test/plugin/custom-hardfork-project/hardhat.config.js
  test/plugin/custom-hardfork-project/test.js
  test/plugin/fork-block-project/hardhat.config.js
  test/plugin/fork-block-project/test.js
  test/plugin/hardhat-addresses.test.js
  test/plugin/hedera-fork-project/hardhat.config.js
  test/plugin/hedera-fork-project/test.js
  test/plugin/hedera-mainnet-project/hardhat.config.js
  test/plugin/hedera-mainnet-project/test.js
  test/plugin/message-call-project/hardhat.config.js
  test/plugin/message-call-project/test.js
  test/plugin/non-hedera-project/hardhat.config.js
  test/plugin/non-hedera-project/test.js
  test/plugin/plugin.test.js
  test/scripts/json-rpc-mock.js
  test/slotMapOf.test.js
  test/storageLayout.test.js
Labels: feature

#261 chore(release): bump to new version `v0.1.2`
  package-lock.json
  package.json
Labels: build

#263 chore: fix NPM publish workflow due to Foundry nightly warning
  .github/workflows/npm-publish.yml
Labels: github_actions, build

#254 chore: slither static analysis
  .github/workflows/test.yml
  contracts/MirrorNodeFFI.sol
Labels: Audit, github_actions

#253 chore: e2e tests in pipeline
  .github/workflows/test.yml
Labels: github_actions, test

#249 chore: add solidity coverage in ci
  .github/workflows/test.yml
Labels: github_actions, test

#252 chore: hardhat example tests in pipeline
  .github/workflows/test.yml
  examples/hardhat-hts/package-lock.json
  examples/hardhat-hts/package.json
Labels: github_actions, test

#267 docs: fixed typo in "InvalidEFOpcode" error name
  FAQ.md
Labels: docs

#266 chore: upload coverage report to codecov
  .github/workflows/test.yml
Labels: github_actions, build

#278 test: fix Hardhat plugin test by changing block number
  test/plugin/fork-block-project/test.js
Labels: test

#279 test: consolidate and improve coverage reports
  .c8rc.json
  .github/workflows/test.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Labels: github_actions, docs
